{% extends 'base.html' %}

{% block title %}Chest Nuts Bush Rotation{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jj.css') }}">
{% endblock %}
{% block content %}

<div id="purple">
    <h2 id="purple_header" class="title_header">Butterfly Bush</h2>
    <p class="bush_text">{{ dict['purple'] }}</p>
</div>
<div id="spear">
    <h2 id="spear_header" class="title_header">Spear Grass</h2>
    <p class="bush_text">{{ dict['spear'] }}</p>
</div>
{% endblock %}