<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lights</title>
</head>
<body>
<table>
    <tr>
        <th>Number</th>
        <th>Name</th>
        <th>State</th>
    </tr>
    {% for i in dict %}
    <tr>
        <td>{{ i }}</td>
        <td>{{ dict[i]['name'] }}</td>
        <td>{% if dict[i]['state']['on'] == False %} Off
        {% else %} On {% endif %}</td>
    </tr>
    {% endfor %}
</table>
<p>
    <a href="./dylan">Turn on/off my light</a>
</p>
<p>
    <a href="./leopard">Turn off night lights</a>
</p>
</body>
</html>